<div class="row">
    <h1 id="educacion">Educación</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
        <li>
            <h1 id="nombreeducacion">Educación 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores animi unde perspiciatis earum voluptas ipsam quos expedita! Odit, nisi quaerat. Minus minima explicabo expedita voluptas iste dolorum error eveniet cupiditate.</p>
        <li>
            <h1 id="nombreeducacion">Educación 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores animi unde perspiciatis earum voluptas ipsam quos expedita! Odit, nisi quaerat. Minus minima explicabo expedita voluptas iste dolorum error eveniet cupiditate.</p>
    </ul>
    </div>
    </div>