.row{
    padding: 20px;
}
div {
    background-color:  #3b5b63 ;
}
h1, h3 {
    display: inline;
    }
 /*estilo nombre de educacion*/
#nombreeducacion {
    font-weight: bolder;
    color:  #1c2c34 ;
    }
    /*estilo de titulo educacion*/
#educacion {
    font-weight: bolder;
    color:  #1c2c34 ;
    background-color: #3b5b63;
    text-align: center;
    }